        body{
	    top: 0px;
            font-family: 'Roboto', 'sans-serif';
			padding: 0 0 0 0;
			margin: 0 0 0 0;
        }
        main{
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
			padding : auto auto auto auto;
        }
        .headerpage{
            font-family: 'Chango', cursive;
            font-size: 48px;
            color: orange;
			padding-top: 30vh;
        }
        .contentpage{
        text-align: center;
		width: 100%;
		}

